@import "/fonts/index.css";

body {
    font-family: 'PT Sans', sans-serif;
    color: black;
    font-size: 28px;
}

.wrapper {
    margin-bottom: 90px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.6;
}

/* Header */
.navigation {
    display: flex;
}

.navigation p {
    margin-top: 29px;
    font-family: 'Tourney', sans-serif;
    font-size: 22px;
}

.navigation nav {
    margin-left: 50px;
    margin-top: 30px;
    font-family: 'Staatliches', sans-serif;
    font-size: 22px;
}

.navigation nav>span {
    margin-left: 10px;
    margin-right: 10px;
}

.logo {
    margin-left: 601px;
    margin-top: 16px;
}

/* Main */

.text {
    margin-top: 40px;
    line-height: 48px;
}

.underline {
    text-decoration: underline;
}

.tags {
    background-color: #DADADA;
}

/* Introduction */

.introduction {
    margin-top: 96px;
}

.begin {
    font-family: 'Francois One', sans-serif;
    font-size: 36px;
}

.chapter {
    font-family: 'Farro', sans-serif;
    font-size: 15px;
    vertical-align: top;
}

/* Core components */
.core,
.react,
.handling {
    margin-top: 70px;
}

.sans-italic {
    font-family: 'PT Sans italic', sans-serif;
}

/* React fundamentals */
.react p {
    margin-top: 40px;
}

.weight {
    font-weight: 700;
}