@import url("https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@300;400;700&display=swap"); /* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.wrapper {
  padding-left: 300px;
  padding-right: 300px;
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

body {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.bagimg-head {
  background-image: url(../images/background-images/HeaderBackground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head__logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: white;
  line-height: 52px;
  margin-top: 295px;
  margin-bottom: 8px;
}
.head__content {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: white;
  margin-bottom: 48px;
  letter-spacing: 0.31rem;
  line-height: 28px;
}
.head__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 124px;
  gap: 8px;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2rem;
  line-height: 20px;
}
.head__button {
  margin-bottom: 211px;
  max-width: 647px;
  width: 100%;
}
.head__button__example {
  position: relative;
  width: 100%;
}
.head__button__example input {
  width: 100%;
}
.head__button__example input[type=text] {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.2rem;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  float: left;
  padding-left: 36px;
  line-height: 20px;
}
.head__button__example input::-webkit-input-placeholder {
  color: #999999;
  text-overflow: clip;
}
.head__button__example input::-moz-placeholder {
  color: #999999;
  text-overflow: clip;
}
.head__button__example input:-ms-input-placeholder {
  color: #999999;
  text-overflow: clip;
}
.head__button__example input::-ms-input-placeholder {
  color: #999999;
  text-overflow: clip;
}
.head__button__example input::placeholder {
  color: #999999;
  text-overflow: clip;
}
.head__button__example button {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 14px;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1rem;
  line-height: 20px;
  padding: 16px 24px;
  border: 4px solid white;
  border-left: none;
  background: #5373FD;
  cursor: pointer;
}
.head__button__example button svg {
  margin-right: 12px;
}
.head__button__example button:hover {
  background: #0b7dda;
}
.head__button__example::after {
  content: "";
  clear: both;
  display: table;
}

.bagimg-top-nav {
  background-color: #5373FD;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  padding-top: 32px;
  padding-bottom: 32px;
}
.top-nav__logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: white;
  letter-spacing: 0.1rem;
  line-height: 28px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
}
.menu li a:hover {
  opacity: 0.7;
  text-decoration: underline;
}
.menu li a:focus {
  color: black;
}

.menu > li {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1rem;
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  max-width: 30px;
  width: 100%;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  margin-right: 10px;
  display: block;
  background-color: white;
  position: absolute;
  height: 2px;
  width: 34px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -12px;
}

.menu-button::after {
  content: "";
  margin-top: 12px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

.bagimg {
  background-image: url(../images/background-images/secondbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block1__text {
  margin-right: 136px;
  margin-top: 190px;
  margin-bottom: 190px;
}
.block1__text__why-us {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 36px;
  padding-bottom: 24px;
  line-height: 40px;
}
.block1__text__content {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: white;
  line-height: 28px;
  padding-bottom: 32px;
  letter-spacing: 0.1rem;
  line-height: 28px;
}
.block1__text__button .btn {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 16px;
  display: block;
  width: 100%;
  max-width: 213px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 20px;
  border: none;
  cursor: pointer;
  background: linear-gradient(227deg, rgb(83, 115, 253) 60%, rgb(72, 107, 254) 45%);
  letter-spacing: 0.07rem;
  color: white;
  padding-left: 32px;
  padding-right: 32px;
}
.block1__text__button .btn:hover {
  color: #5373FD;
  background: white;
}
.block1__text__button .btn:focus {
  -webkit-box-shadow: 0px 0px 20px 0px rgb(98, 98, 239);
          box-shadow: 0px 0px 20px 0px rgb(98, 98, 239);
}
.block1__images {
  margin-top: 124px;
  margin-right: 112px;
  margin-bottom: 124px;
}
.block1__images__img-2 {
  padding-left: 74px;
  padding-top: 16px;
}

.bagimg-searchplaces {
  background-color: #333333;
}

.block1-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.block1-footer__icon {
  position: relative;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 424px;
  width: 100%;
}
.block1-footer__icon svg {
  background-color: #333333;
  padding-bottom: 20px;
}

.bagimg-block2 {
  background-image: url(../images/background-images/thirdbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.block2 {
  padding-top: 220px;
  padding-bottom: 120px;
}
.block2__text {
  background-color: rgba(35, 35, 35, 0.9);
  max-width: 648px;
  width: 100%;
  padding: 44px 32px;
}
.block2__text__content1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: white;
  letter-spacing: 0.1rem;
  line-height: 28px;
}
.block2__text__h {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 28px;
}
.block2__text__content2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: white;
  letter-spacing: 0.1rem;
  line-height: 28px;
  padding-bottom: 24px;
}
.block2__text__button .btn {
  display: block;
  width: 100%;
  max-width: 213px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 20px;
  border: none;
  cursor: pointer;
  background: linear-gradient(227deg, rgb(83, 115, 253) 60%, rgb(72, 107, 254) 45%);
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  letter-spacing: 0.06rem;
  padding-right: 57px;
  padding-left: 56px;
}
.block2__text__button .btn:hover {
  color: #5373FD;
  background: white;
}
.block2__text__button .btn:focus {
  -webkit-box-shadow: 0px 0px 20px 0px rgb(98, 98, 239);
          box-shadow: 0px 0px 20px 0px rgb(98, 98, 239);
}

.bagimg-block3 {
  background-image: url(../images/background-images/fourhtbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.block3 {
  padding-top: 220px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.block3__text {
  background-color: rgba(35, 35, 35, 0.9);
  max-width: 648px;
  width: 100%;
  padding: 44px 32px;
}
.block3__text__content1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: white;
  letter-spacing: 0.1rem;
  line-height: 28px;
}
.block3__text__h {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 28px;
}
.block3__text__content2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: white;
  letter-spacing: 0.1rem;
  line-height: 28px;
  padding-bottom: 24px;
  line-height: 28px;
}
.block3__text__button .btn {
  display: block;
  width: 100%;
  max-width: 213px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 20px;
  border: none;
  cursor: pointer;
  background: linear-gradient(227deg, rgb(83, 115, 253) 60%, rgb(72, 107, 254) 45%);
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  letter-spacing: 0.06rem;
  padding-right: 57px;
  padding-left: 56px;
}
.block3__text__button .btn:hover {
  color: #5373FD;
  background: white;
}
.block3__text__button .btn:focus {
  -webkit-box-shadow: 0px 0px 20px 0px rgb(98, 98, 239);
          box-shadow: 0px 0px 20px 0px rgb(98, 98, 239);
}

.bagimg-block4 {
  background-image: url(../images/background-images/fifthbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.block4 {
  padding-top: 120px;
  padding-bottom: 180px;
}
.block4__h {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 60px;
}
.block4__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block4__main__img img {
  width: 100%;
  height: 100%;
}
.block4__main__text {
  background-color: #333333;
  padding: 48px 65px 48px 60px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.block4__main__text__h {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  line-height: 28px;
  padding-bottom: 14px;
}
.block4__main__text__content {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: white;
  line-height: 28px;
  letter-spacing: 0.1rem;
}

.foot {
  text-align: center;
  background-color: #000000;
  padding-top: 80px;
  padding-bottom: 80px;
}
.foot__h {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: white;
  line-height: 28px;
  letter-spacing: 0.1rem;
}
.foot__content {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: white;
  line-height: 20px;
  letter-spacing: 0.2rem;
  margin-top: 8px;
  margin-bottom: 20px;
}
.foot__icons a:not(:last-of-type) {
  margin-right: 32px;
}
.foot__icons a:hover svg path {
  fill: #5373FD;
}

@media (max-width: 1556px) and (min-width: 1360px) {
  .block1__text {
    margin-top: 124px;
    margin-right: 50px;
    margin-bottom: 124px;
  }
  .block1__images {
    margin-top: 124px;
    margin-right: 0px;
    margin-bottom: 124px;
  }
}
@media (max-width: 1360px) {
  .wrapper {
    padding-left: 110px;
    padding-right: 110px;
  }
  .block1__images {
    margin-top: 124px;
    margin-bottom: 124px;
    margin-right: 0;
  }
  .block1__images__img-2 {
    padding-left: 110px;
    padding-top: 16px;
  }
  .block1__text {
    margin-right: 122px;
    margin-top: 190px;
    margin-bottom: 190px;
  }
  .block2__text {
    background-color: rgba(35, 35, 35, 0.9);
    max-width: 558px;
    width: 100%;
    padding: 44px 32px;
  }
  .block3__text {
    background-color: rgba(35, 35, 35, 0.9);
    max-width: 558px;
    width: 100%;
    padding: 44px 32px;
  }
}
@media (max-width: 1024px) {
  .wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }
  .block1__images {
    margin-top: 124px;
    margin-right: 1px;
    margin-bottom: 124px;
  }
  .block1__images__img-2 {
    padding-left: 36px;
    padding-top: 16px;
  }
  .block1__text {
    margin-right: 24px;
    margin-top: 190px;
    margin-bottom: 190px;
  }
}
@media (max-width: 786px) {
  .top-nav {
    background-color: #5373FD;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
  .block1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block1__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 60px;
  }
  .block1__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 124px;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .block1__images__img-1 {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .block1__images__img-2 {
    padding-left: 24px;
    padding-top: 0px;
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .block1-footer {
    background-image: none;
    background-color: #333333;
    padding-top: 60px;
    padding-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block2 {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .block2__text {
    background-color: rgba(35, 35, 35, 0.9);
    max-width: 720px;
    width: 100%;
    padding: 44px 32px;
  }
  .block3 {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .block3__text {
    background-color: rgba(35, 35, 35, 0.9);
    max-width: 720px;
    width: 100%;
    padding: 44px 32px;
  }
  .block4__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block4__main__img img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .block4__main__text {
    padding: 48px 60px 48px 60px;
  }
}
@media (max-width: 645px) {
  .top-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .top-nav__logo {
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
  }
  .menu-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    position: absolute;
    left: 0;
    top: 91px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background-color: #5373FD;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 3.5em;
    padding: 1em;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #5373FD;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
@media (max-width: 576px) {
  .wrapper {
    padding-left: 18px;
    padding-right: 18px;
  }
  .head__button {
    margin-bottom: 211px;
    max-width: 540px;
    width: 100%;
  }
}