@mixin Josefin($size, $font-weight, $color) {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: $font-weight;
    font-size: $size;
    color: $color;
}

@mixin Aleo($size, $font-weight) {
    font-family: 'Aleo', serif;
    font-weight: $font-weight;
    font-size: $size;
}

@mixin bg-image($bg-url) {

    background-image: $bg-url;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin button {
    display: block;
    width: 100%;
    max-width: 213px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    border: none;
    cursor: pointer;
    background: linear-gradient(227deg, rgba(83, 115, 253, 1) 60%, rgba(72, 107, 254, 1) 45%);
}